#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.Adii{
  position: relative;
  /* top: 0; */
  color: slateblue;
  display: flex;
  justify-content: center;
}
.z900{
  width: 400px;
}
.p {
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 5rem; 
  transform: translate(50%, -50%); /* Center the heart */
}